@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #52b69a;
  --green: #2a9d8f;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #1d3557 0%, #2a9d8f 100%);
}
